<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Github Library</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<ul class="topnav">
    <li><a href="/">DASHBOARD</a></li>
    <li><a class="active" href="/github/search">SEARCH GITHUB</a></li>
    <li><a href="/github/history">SEARCH HISTORY</a></li>
    <li><a href="/logout">LOGOUT</a></li>
</ul>

<div class="content">

    <h2>Search By Git User Name</h2>
    <form th:action="@{/github/search}" th:method="POST" modelAttribute="username">
        <input type="text" name="username" id="cls" placeholder="Search By Github User Name"/>
        <input type="submit" id="btn" value="SEARCH"/>
    </form>
    <br><br><br>
    <table th:if="${not #lists.isEmpty(gitUser) }" id="search-tbl">
        <thead>
        <tr>
            <th>Avatar</th>
            <th>UserName</th>
            <th>Full Name</th>
            <th>Followers</th>
            <th>Following</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterationStatus : ${gitUser}">
            <td><img th:src="${user.avatar_url}" th:height="150px" th:width="150px"/></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.followers}"></td>
            <td th:text="${user.following}"></td>
        </tr>
        </tbody>
    </table>

    <span id="span_id" style="display: none;" th:text="${errorMessage}"></span>
    <span id="message" style="display: none; text-align: center"> User Doesn't Exist</span>
</div>
</body>
<script th:inline="javascript">
    var msg = document.getElementById("span_id").innerHTML;
    if (msg=='NoData'){
        document.getElementById("search-tbl").style.display='none';
        document.getElementById("message").style.display = 'block';
    }
</script>
</html>