<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Github Library</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<ul class="topnav">
    <li><a class="active" href="/">DASHBOARD</a></li>
    <li><a href="/user/search">SEARCH GITHUB</a></li>
    <li><a href="/">SEARCH HISTORY</a></li>
    <li><a href="/">POPULAR SEARCH</a></li>
    <li><a href="/logout">LOGOUT</a></li>
</ul>


<div class="content">
    <a class="text-dashboard" href="#"><span>Welcome to the Github Library</span></a>
    <p class="text-content" align="justify">

    </p>

</div>

</body>
</html>